################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/elk
/elk
/elk/zlib1.dll
/elk/xerces-c_2_8.dll
/elk/ssleay32.dll
/elk/spatialite.dll
/elk/proj.dll
/elk/osr_wrap.dll
/elk/osr_csharp.dll
/elk/openjp2.dll
/elk/ogr_wrap.dll
/elk/ogr_csharp.dll
/elk/LINE.Geometry.dll
/elk/libpq.dll
/elk/libmysql.dll
/elk/libexpat.dll
/elk/libeay32.dll
/elk/libcurl.dll
/elk/iconv.dll
/elk/GSD.gha
/elk/geos_c.dll
/elk/geos.dll
/elk/gdal_wrap.dll
/elk/gdal_csharp.dll
/elk/gdalconst_wrap.dll
/elk/gdalconst_csharp.dll
/elk/gdal200.dll
/elk/ElkLib.dll
/elk/Elk2.gha
/elk
